{% extends "base.html" %}

{% block title %}
ShikidaLab Book Library
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome to ShikidaLab Book Library !!</h1>
    <p>The system made by 3rd year student in 2024 summer vacation</p>
    <p>You can register, search and apply to rent books</p>
    
    <!-- ボタン配置 -->
    <a href="{{ url_for('add_book') }}" class="btn btn-info btn-lg">New Book</a>
    <a href="{{ url_for('all_books') }}" class="btn btn-success btn-lg">Index of All Books</a>

    <p class="mt-4">CopyRight ShikidaLab@KUT</p>
</div>
{% endblock %}
