{% extends "base.html" %}

{% block title %}
Library List
{% endblock %}

{% block content %}
<h1 class="mb-4">図書リスト</h1>

<!-- タグ検索フォーム -->
<form id="searchForm" action="{{ url_for('showLibrary') }}" method="get" class="mb-4">
    <label for="search_tag" class="form-label">タグ検索</label>
    <select class="form-select" id="search_tag" name="search_tag">
        <option value="">select any tag</option>
        {% for tag in tags %}
        <option value="{{ tag[0] }}">{{ tag[0] }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mt-2">検索</button>
</form>

<!-- 選択されたタグを表示-->
{% if search_tag %}
<p class="mb-4">タグ検索: <strong>{{ search_tag }}</strong></p>
{% endif %}

<!-- 図書リストを表示 -->
<div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="/static/uploads/{{ book[5] }}" class="card-img-top" alt="Book Cover" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ book[1] }}</h5>
                <p class="card-text">{{ book[2] }}</p>
                <p class="card-text"><small class="text-muted">タグ: {{ book[4] }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
